{% extends 'base.html' %} {% block content %}
<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-5 py-24 items-center justify-center flex-col"
  >
    <img
      class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
      alt="hero"
      src="https://img.freepik.com/free-vector/happy-freelancer-with-computer-home-young-man-sitting-armchair-using-laptop-chatting-online-smiling-vector-illustration-distance-work-online-learning-freelance_74855-8401.jpg?w=1060&t=st=1669473373~exp=1669473973~hmac=46617682ccbdf1ef8e0c3475bb87a770ba850b7b9d0cdf366099cc98b7816a50"
    />
    <div class="text-center lg:w-2/3 w-full">
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        CRM build with Django
      </h1>
      <p class="mb-8 leading-relaxed">This CRM helps you manage your leads</p>
      <div class="flex justify-center">
        <a
          href="{% url 'login' %}"
          class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
        >
          Login to get started
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
